.logo-box {
    display: flex;
    align-items: flex-end;

    .icon {
        height: 35px;
    }

    .app-name {
        font-size: 1rem;
        font-family: 'Alata', sans-serif;
    }
}

.mobile {

    .icon {
        height: 20px;
    }

    .app-name {
        font-size: .75rem;
    }
}