@import 'src/app/helpers/style.scss';

.nav {
    display: flex;
    background-color: $navigation-background;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    .menu-mobile-box {
        display: none;
    }

    .header {
        display: flex;
        align-items: center;

        .title {
            font-size: 2rem;
            margin-right: 40px;
        }

        app-logo {
            margin-right: 40px;
        }
        
        .btn-box {
            width: 34px;
            margin-right: 15px;
            background-color: gray;
            border-radius: 99px;
            padding: 4px;
            position: relative;
            

            .btn {
                cursor: pointer;
            }

            .settings-box {
                background-color: gray;
                position: absolute;
                padding: 8px;
                margin-top: 15px;
                right: -24px;
                border-radius: 10px;
                box-shadow: 2px 2px 5px 0px black;
                width: 150px;

                &::before {
                    left: 85px;
                    content: '';
                    width: 30%;
                    position: absolute;
                    height: 15px;
                    background-color: gray;
                    top: -7px;
                    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                }

                .option-box {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .label {
                        font-size: 1rem;
                        text-transform: capitalize;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .tabs-box {
        display: flex;
        position: relative;
        
        .tab-box {
            margin-right: 30px;

            .tab {
                text-decoration: none;
                font-size: 1.5rem;
                
                text-transform: capitalize;
                color: black;
            }
        }
        
    }
}

@media screen and (max-width: 570px) {
    .btn-box {
        display: none;
    }

    .nav .tabs-box {
        display: none;
    }

    .nav .menu-mobile-box {
        display: flex;

        .menu-icon {
            height: 30px;
            margin-right: 10px;
        }

        .menu-content {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 999;
            transition: all 1s;
            visibility: hidden;


            .side-menu {
                padding: 10px;
                background-color: rgba(95, 95, 95, 0.901);
                width: 140px;
                transition: all 1s;
                transform: translateX(145px);
                position: absolute;
                top: 0;
                right: 0;
                height: 100vh;
            }

            .background-box {
                background-color: black;
                opacity: 0;
                transition: all 1s;
                position: absolute;
                top: 0;
                right: 0;
                width: 100vw;
                height: 100vh;
            }

            &.open {
                visibility: inherit;

                .side-menu {
                    transform: translateX(0px);
                }

                .background-box {
                    opacity: 0.3;
                }
            }

            .close-box {
                display: flex;
                justify-content: space-between;

                .close {
                    height: 15px;
                }
            }

            .tabs-box {
                display: block;
                
                .tab-box {
                    margin-right: 0;
                    padding: 5px 0;
                    text-align: center;

                    &:not(:last-child) {
                        border-bottom: 1px solid black;
                    }

                    .tab {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
            }

            .settings-box {
                padding: 5px 0;
                position: absolute;
                bottom: 5px;

                .option-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .label {
                        font-size: 1rem;
                        font-weight: bold;
                        text-transform: capitalize;
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}